* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 2rem;
}
.nav {
  display: flex;
  justify-content: space-around;

  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
}

header li {
  margin-right: 1rem;
}

header a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

header a:hover {
  background-color: #555;
  border-radius: 5px;
}

#home {
  background-image: url("back.avif");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

#home h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

#home p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 30rem;
}

#home button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

#menu {
  background-color: #f2f2f2;
  padding: 2rem;
}

#menu h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#menu li {
  /* flex-basis: calc(33.33% - 20px); */
  margin-bottom: 20px;

  border-radius: 10px;
}

#menu img {
  width: 20rem;
  height: auto;
}
.info {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 1rem;
}

#menu .info h3 {
  color: #333;
  margin-bottom: 0.5rem;
}

#menu .info button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

#about {
  padding: 2rem;
  text-align: center;
}

#about h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#about p {
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#contact {
  background-color: #f2f2f2;
  padding: 2rem;
  text-align: center;
}

#contact h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact input,
#contact textarea {
  width: 30rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#contact textarea {
  height: 10rem;
}

#contact button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

footer {
  background-color: #333;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}
